rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document} {
      allow create: if request.auth.uid == document;
      allow read: if true;
      allow write: if request.auth.uid == document;
      allow delete: if request.auth.uid == document;
    }

    match /users/{parent}/meusProdutos/{document} {
      allow create: if request.auth.uid == parent;
      allow read: if true;
      allow write: if request.auth.uid == parent;
      allow delete: if request.auth.uid == parent;
    }

    match /Lojistas/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /PrestadoresDeServicos/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /Lojistas/{parent}/Seusprodutos/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /{path=**}/Seusprodutos/{document} {
      allow read: if true;
    }


    match /Lojistas/{parent}/avaliacoesDosProdutos/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/avaliacoesDosProdutos/{document} {
      allow read: if true;
    }


    match /users/{parent}/Profissionais/{document} {
      allow create: if request.auth.uid == parent;
      allow read: if true;
      allow write: if true;
      allow delete: if request.auth.uid == parent;
    }

    match /Lojistas/{parent}/Prestadores/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/Prestadores/{document} {
      allow read: if true;
    }


    match /users/{parent}/carrinho/{document} {
      allow create: if request.auth.uid == parent;
      allow read: if true;
      allow write: if request.auth.uid == parent;
      allow delete: if request.auth.uid == parent;
    }

    match /Lojistas/{parent}/colecaoDosLojistas/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/colecaoDosLojistas/{document} {
      allow read: if true;
    }


    match /Lojistas/{parent}/variacaoDoProduto/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/variacaoDoProduto/{document} {
      allow read: if true;
    }


    match /carrinhoDoUsuario/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /carrinhoDoUsuario/{parent}/itensDoCarrinho/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/itensDoCarrinho/{document} {
      allow read: if true;
    }


    match /searchs/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /PrestadoresDeServicos/{parent}/meuServicos/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /{path=**}/meuServicos/{document} {
      allow read: if true;
    }


    match /users/{parent}/favoritos/{document} {
      allow create: if request.auth.uid == parent;
      allow read: if true;
      allow write: if request.auth.uid == parent;
      allow delete: if request.auth.uid == parent;
    }

    match /anuncio/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /notificacoes/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /PainelAdministrativoAPP/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /users/{parent}/pagamento/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if request.auth.uid == parent;
    }

    match /{path=**}/pagamento/{document} {
      allow read: if true;
    }


    match /users/{parent}/EnviarTicket/{document} {
      allow create: if request.auth.uid == parent;
      allow read: if true;
      allow write: if request.auth.uid == parent;
      allow delete: if request.auth.uid == parent;
    }

    match /ff_user_push_notifications/{id} {
      allow read, update, delete: if false;
      allow create: if /databases/$(database)/documents/users/$(request.auth.uid) == request.resource.data.sender;
    }
  }
}
